{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block header %}
    <h1>Welcome to NiceCubes</h1>
{% endblock %}

{% block content %}
    <div class="welcome-section">
        {% if g.user %}
            <p>Welcome back, {{ g.user['username'] }}!</p>
            <div class="button-container">
            <a href="{{ url_for('ice') }}" class="action-button">Make Ice</a>
            </div>
        {% else %}
            <p>Welcome to NiceCubes! Please login to get started.</p>
        {% endif %}
    </div>
{% endblock %}